In [ ]:
x=0
while x<5:
    x+=1
    print(x)

In [ ]:
l=[9254, 910,5876,6396,9845]
i=0
while i < len(l):
    if str(int(i))[0]==9:
        print(i)
    i+=1
    print(i)
    if str(int(i))[0]==9:
        print (i)

In [ ]:
#jump statemnet
for i in range(1,6):
    if i==3:
        break
    print(i)

In [ ]:
for i in range(1,6):
    if i==3:
        continue
    print(i)

In [ ]:
for i in range (1,6):
    print(i)
    if i==3:
        break

In [ ]:
for i in range (1,10):
    if i%2==0:
        break
    if i%2==1:
        continue
    print(i)

In [ ]:
for i in range (1,10):
    print(i)
    if i<5:
        continue
    if i%3:
        break
    print(i)

In [ ]:
for x in range (1,10):
    i=4
    if x>i:
        break
else:
     continue
print (i)

In [ ]:
for  i in range (1,15):
    if i%2==0 and i%5==1:
        continue
    print(i)

In [4]:
 #practice questions                                   
#Print characters from a string that are present at an even index number
given_str = 'hello world'
# given input string
even_characters = []  # For storing even characters
odd_characters = []  # For storing odd characters
for i in range(len(given_str)):
    if i % 2 == 0:  # check if the index is even
        even_characters.append(given_str[i])
    else:
        odd_characters.append(given_str[i])
# print the odd characters
print('Odd characters: {}'.format(odd_characters)) 
# print the even characters
print('Even characters: {}'.format(even_characters))

Odd characters: ['e', 'l', ' ', 'o', 'l']
Even characters: ['h', 'l', 'o', 'w', 'r', 'd']

In [ ]:
#Check if the first and last number of a list is the same
l = [1,2,3,4,5,6,7,2]
if l[0] == l[-1]:
    print('first and last value are equal')
else:
print('first value and last value are not equal')

In [ ]:
#Write a Python program to check whether a string starts with vowel or not
s = 'apple'
for i in s:
    if i[0]==i=='a'or i=='e' or i=='i' or i=='o' or i=='u':
        print("start with vowel")
else: 
        print("not start with vowel")

In [ ]:
# Calculate income tax for the input income by adhering to the Indian rules.

In [ ]:
#Write a Python program to check if all the characters of a string are vowel or not
s = 'apple'
for i in s:
    if i[0:]==i=='a'or i=='e' or i=='i' or i=='o' or i=='u':
        print("character are vowel")
else:print("character are not vowel")

In [ ]:
#WAP to calculate percentage of a student through 5 subjects. Take marks as input from the user               #dout
maths_num = int(input('enter marks'))
English_num = int(input('enter marks'))
hindi_num = int(input('enter marks'))
science_num = int(input('enter marks'))
soocial_num = int(input('enter marks'))
for i in range (maths_num+English_num+hindi_num+science_num+soocial_num):
    per = (i)%5
print(per)

In [3]:
#Write a Python program to count the number of even and odd numbers from a list of numbers.
	#e.g. i\p: [1, 2, 3, 4, 5, 6, 7, 8, 9]
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
even_num = []
odd_num = []
count = 0
for i in l:
    if i%2==0:
        count=+1
        print(i)
else:print(i)

2
4
6
8
9

In [ ]:
s = 'helloh'
l=[] 
for i in s:
    a=s.count(i)
    print(a)
    l.append(a)
m=l.index(min(l))
print(s[m])

In [ ]:
l = [4,11,9,10]
l1 = ['hi',5, 6,'yo']             #o/p '4hi1159610yo'
for i in str(len(l)):
    if l.append(l):
        a=l.count(i)
        print(l)
for j in str(len(l1)):
    a=l1.index(l(l1))

In [ ]:
# d = {'C':969 , 'v':123, 'd':465, 'n':789, 'R':951}    
o/p d = {'C':969 , 'd':465, 'n':789, 'R':951,'v':123, }

In [1]:
l=[75,34,78,65,81]
i=0
while i < len(l):
    if i==l:
      l.append( )
        print(i)

KeyboardInterrupt:

In [ ]:
l=[9254, 910,5876,6396,9845]
i=0
while i < len(l):
    if str(int(i)):
    #if else questions 
#write a  no. of program to display a "hello"  if no. enrterd by user isna multiple of five otherwisr print "bye"

num=int(input(enter  the value)):
    if num%5==0:
    print(Hello)
else:
    print (Bye)[0]==9:
        print(i)
    i+=1
    print(i)
    if str(int(i))[0]==9:
        print (i)

In [ ]:
#wrote a print to program a table of a number (accpect from the user) in the following formate 
#o/p 7*1 = 7 like that 
num = int(input("Enter the number"))
for i in range (1,11):
    print(num,"*",i,"=",num*i)

In [2]:
#write a program to print a partten                                                  #dout
#4444
#333
#22
#1
for i in range (4,0,-1):
    for j in range (1,i+1):
        print(i,end=' ')
    print()

4 4 4 4
3 3 3
2 2
1

In [1]:
#write a program to print a partten
#A
#B C
#D E F
#G H I J
#K L M N O
I = 65
for i in range (1,6):
    for j in range (1,i+1):
        print(chr(I),end=' ')
    I=1+I
print()
I=65

A B B C C C D D D D E E E E E

In [ ]:
#write a program to the sum of following (accpet values of a,r,n  from user)
#a + ar + ar**2 +ar**3...................ar**n

In [ ]:
#loap to print all the multiple of 3.
l = [44,33,10,90,48,51]
for i in l:
    sum=0
    if i%3==0:
        sum=i+1
        print(i)

In [ ]:
#write a print all the even indexed element from a string input from user
str = 'How Are You'
even_characters = []
odd_characters = []  
for i in range(len(str)):
    if i % 2 == 0: 
        even_characters.append(str[i])
    else:
        odd_characters.append(str[i])
print('Odd characters:',(odd_characters))
print('Even characters:',(even_characters))

In [ ]:
t = ['44','25','56','72','103']
#print all the strings for which the last digit is even.
for i in t:
    if int(i[-1])%2==0:
        print(i)

In [ ]:
l = ['9787', '8354', '9910', '73215', '986']
#print a the no. which start with 9 and 4 digit no.
for i in l:
    if int(i[0])%9==0 and int(i[0])%4==0:
        print(i)

In [ ]:
#Write a program to reverse an integer in Python
n= int(input("start( )"))
m= int(input("stop( )"))
for i in range(10,1,-1):
    print(i,end=' ')

In [ ]:
#Write a program in Python to check given number is prime or not.
n= int(input('given num'))
i,l = 0,0
for i in range(2,n//2):
    if n%i==0:
        l=1
        break
if l == 1:
    print('not prime number')
else:
        print('prime number')

In [ ]:
#Write a program in Python to check whether an integer is Armstrong number or not.                dout

In [ ]:
#Python Program to check a given number is even or odd.
n= int(input('given num'))
for i in range (2,n//2):
    if n%2==0:
        print('given number even')
    else: print('give number odd')

In [ ]:
#Python Program to print Prime Number in a given range
for i in range (1,13,2):
    print(i)

In [ ]:
x=16
s = x*4
print(s)

In [ ]:
add = lambda x,y: x+y
print(add(10,12))

In [ ]:
(lambda x,y : x+y)(10,12)

In [ ]:
l = [10,12,13,14]
print((lambda k: [i**2 for i in k])(l))

In [ ]:
n = 20
print((lambda k:"odd" if n%2==1 else"even")(n))

In [ ]:
l = ('45428349')                                   #  syntax = map(funcation name, collection)
l1 = list(map(int,l))
print(l1)

In [ ]:
l = ['a b','c d','e f','g h']
#['a','c','e','g']
def some(l):
    l1 = []
    for i in l:
        a = i.split()
        l1.append(i[0])
    return(l1)
p=some(l)
print(p)

In [ ]:
num = int(input("Enter the age"))
if num>=18:
    print("Eligable for voting")
else:
    print("Under 18")

In [ ]:
num = int(input("Enter the value"))
if num>50:
    print("people under the citizen")
else:
    ("not under the citizen")

In [ ]:
num1 = int(input("Enter the 1st value"))
num2 = int(input("Enter the 2nd value"))
if num1>num2:
    print("smaller number is:",num2)
else:
    print("Smaller value is:",num1)

In [ ]:
num1 = int(input("Enter the 1st value"))
num2 = int(input("Enter the 2nd value"))
if num1>num2:
    print("grater number is:",num1)
else:
    print("grater value is:",num2)

In [ ]:
number = int(input("Enter the value"))
if number>0:
    print("positive")
else:
    print("negitive")

In [ ]:
num = int(input("Enter the number"))
if num%2==0:
    print("even number")
else:
    print("odd number")

In [ ]:
num = int(input("Enter the number"))
if num%2==0 and num%3==0:
    print("divisible of both 2 and 3")
else:
    print("not divisible of  both")

In [ ]:
num1 = int(input('Enter the value'))
num2 = int(input('Enter the value'))
num3 = int(input('Enter the value'))
if num1>num2 and num1>num3:
    print("greater number is:",num1)
if num2>num1 and num2>num3:
    print("greater number is:",num2)
if num3>num1 and num3>num2:
    print("greater number is:",num3)

In [ ]:
age1 = int(input("enter the value"))
age2 = int(input("enter the value"))
age3 = int(input("enter the value"))
age4 = int(input("enter the value"))
if age1<age2 and age1<age3 and age1<age4:
    print("People younger:",age1)
if age2<age1 and age2<age3 and age2<age4:
    print("People younger:",age2)
if age3<age1 and age3<age2 and age3<age4:
    print("People younger:",age3)
if age4<age1 and age4<age2 and age4<age3:
    print("People younger:",age4)

In [ ]:
age1 = int(input("enter the value"))
age2 = int(input("enter the value"))
age3 = int(input("enter the value"))
age4 = int(input("enter the value"))
if age1>age2 and age1>age3 and age1>age4:
    print("People younger:",age1)
if age2>age1 and age2>age3 and age2>age4:
    print("People younger:",age2)
if age3>age1 and age3>age2 and age3>age4:
    print("People younger:",age3)
if age4>age1 and age4>age2 and age4>age3:
    print("People younger:",age4)

In [ ]:
n = int(input('enter the value'))
for i in range(1,n+1):
    print(i**2)

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
l = ['bharat', 'annaya', 'pooja', 'sachin', 'vikash', 'arohi', 'sakshi', 'nakul', 'anjali' , 'megha' ]
for i in l:
    if i[0] == 'b' or i[0] == 'p' or i[0] == 's' or i[0] == 'v':
        print(i)

In [ ]:
l = ['bharat', 'annaya', 'pooja', 'sachin', 'vikash', 'arohi', 'sakshi', 'nakul', 'anjali' , 'megha' ]
l1 = 'bpsv'
for i in range(len(l)):
    if (i % 2 == 0) and (l[i][0] in l1):
        print(i)

In [ ]:
l = ['R100', '$50', 'R123','R200', '$100']
for i in l:
    if i[0] == 'R' and i[-1] == '0':
        print(i)

In [ ]:
k = 0
num = int(input("Enter the vaule"))
if num == 0 or num == 1:
    k = 1
for i in range(2,num):
    k=1
if k==1:
    print("Number is not prime")
else:
    print("Number is prime")

In [ ]:
#wriote a program to check a character is vowel or not
s = input("Enter the word")
s1 = 'aeiouAEIOU'
if s in s1:
    print("character is vowel")
else: print('charcter is not vowel')

In [ ]:
l = ['tomato', 'potato', 'tomato','oleva','tomato','potato']
#o/p = Tomato 3kg and potato 2kg
tc=pc=oc = 0
for veg in l:
    if veg == 'tomato':
        tc =+1
    elif veg == 'potato':
        pc =+1
    elif veg == 'oleva':
        oc =+1
else: 
    if tc>pc or tc>oc: print(tc)
    if pc>tc or pc>oc: print(pc)
    if oc>tc or oc>pc: print(oc)
    if tc<pc or tc<oc: print(tc)
    if pc<tc or pc<oc: print(pc)
    if oc<tc or oc<pc: print(oc)

In [ ]:
m = ['M', 'F', 'M', 'M','F','M','F']
n = [10,9,8,10,7,7,10]
for i in m:
    for j in n:
        if  j[i] == 'M':
            j += 1 
            print(i)

In [ ]:
questions = ("In 1768, Captain James Cook set out to explore which ocean?: ",
             "What is actually electricity?:",
             "Which of the following is not an international organisation?:",
             "Which of the following disorders is the fear of being alone?:")
options = (("A.Pacific Ocean ","B.Atlantic Ocean ","C.Indian Ocean ","D. Arctic Ocean "),
           ("A.A flow of water ","B. A flow of air ","C.A flow of electrons ","D.A flow of atoms "),
           ("A.FIFA ","B.NATO" ,"C. ASEAN ","D.FBI"),
           ("A.Agoraphobia   ","B.Aerophobia ","C.Acrophobia ","D.Arachnophobia"))
answer = ("A. Pacific Ocean","C. A flow of electrons","D. FBI","A. Agoraphobia")
guesses = []
score = 0
question_num = 0
for question in questions:
    print("--------------------------")
    print(question)
    for option in options[question_num]:
        print(option)

    guess = input('enter the answer')
    guesses.append(guess)
    if guess == answer[question_num]:
        score += 10
        print("CORRECT!")
    else:
        print("INCORRECT!")
        print(f"{answer[question_num]}")
    question_num +=1

print("--------------------------------------")
print("           RESULTS                ")
print("--------------------------------------")

print("guesses:", end="")
for guess in guesses:
    print(guess, end=" ")
print()

score = int(score / len(questions))
print(f"your score is:{score}")

In [ ]:
import random
for i in range(10):
    player1 = random.randint(1,6)
    player2 = random.randint(1,6)
    if player1>player2:
        print("player1 win")
    elif player1<player2:
        print("player2 win")
    else:
        print("tie")

In [ ]:
l = ['rahul','sakshi', 'vishal', 'gaurav']
for i in range(len(l)-1,-1,-1):
    print(l[i])
    for j in range(len(l[i])-1,-1,-1):
        print(l[i][j])

In [ ]:
for i in range(10,2,-1):
    print(i)

KBC PROJECT

In [ ]:
questions = ("In 1768, Captain James Cook set out to explore which ocean?: ",
             "What is actually electricity?:",
             "Which of the following is not an international organisation?:",
             "Which of the following disorders is the fear of being alone?:",
             "The two biggest exporters of beers in Europe are Germany",
             "The phrase: ”I think, therefore I am” was coined by which philosopher",
             "In the series “Game of Thrones”, Winterfell is the ancestral home of which family")
options = (("A.Pacific Ocean ","B.Atlantic Ocean ","C.Indian Ocean ","D. Arctic Ocean "),
           ("A.A flow of water ","B. A flow of air ","C.A flow of electrons ","D.A flow of atoms "),
           ("A.FIFA ","B.NATO" ,"C. ASEAN ","D.FBI"),
           ("A.Agoraphobia   ","B.Aerophobia ","C.Acrophobia ","D.Arachnophobia"),
           ('A. Spain',"B. France","C. Italy","D. Belgium"),
           ("A. Socrates","B. Plato","C. Aristotle","D. Descartes"),
           ("A. The Lannisters","B. The Starks","C. The Tully’s","D. The Targaryens"))
answer = ("pacific ocean"," a flow of electrons","FBI","agoraphobia","Belgium","Descartes","The Starks" )
guesses = []
score = 0
question_num = 0
for question in questions:
    print(question)
    for option in options[question_num]:
        print(option)

    guess = input('enter the answer')
    guesses.append(guess)
    if guess == answer[question_num]:
        score += 1000
        print("CORRECT!")
    else:
        print("INCORRECT!")
        print(f"{answer[question_num]}")
    question_num +=1
print("           RESULTS                ")
print("guesses:", end="")

score = int(score / len(questions))
print(f"your score is:{score}")

In [ ]:
num = int(input("enter the value"))
for i in range(1,11):
    print(num,'*',i,'=',num*i)

In [ ]:
b = 5
while(b<9):
    print("H")
    b+=1

In [ ]:
l = [23,59.5,'hi', True]
l.reverse()
print(l)

In [ ]:
t = (23,59.5, 'hi',True)
t1 = t[::-1]

In [ ]:
l = [23,59.5,'hi', True]
l.clear()
print(l)

In [ ]:
l = [1,2,3]
k = l
m = l.copy()
print(k)
k.append(5)
print(l)
print(m)

In [ ]:
d = {'hi','hello','bro','yo'}
x = d.copy()
print(x)

In [ ]:
s = {12:15, 6:'hi', 11:'yo'}
x = s.copy()
print(x)

In [ ]:
s = "8742239485"
c = 0
for i in s:
    if int(i[0])%2==0:
        c = i+c
        print(c)